In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Import pickle

In [3]:
path = r'/Users/s.rao/Desktop/Instacart Basket Analysis'

In [4]:
path

'/Users/s.rao/Desktop/Instacart Basket Analysis'

In [5]:
ords_prods_merge = pd.read_pickle(r'/Users/s.rao/Desktop/Instacart Basket Analysis/02 Data /Prepared Data/ords_prods_merge.pkl')

In [6]:
#Creating a subset

In [7]:
df = ords_prods_merge[:1000000]

In [8]:
df.shape

(1000000, 23)

In [9]:
df.head(10)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,11.114836,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,1,2398795,1,prior,2,3,7,15.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,2,473747,1,prior,3,3,12,21.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,3,2254736,1,prior,4,4,7,29.000000,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,4,431534,1,prior,5,4,15,28.000000,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
5,5,3367565,1,prior,6,2,7,19.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
6,6,550135,1,prior,7,1,9,20.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
7,7,3108588,1,prior,8,1,14,14.000000,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
8,8,2295261,1,prior,9,1,16,0.000000,196,4,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
9,9,2550362,1,prior,10,4,8,30.000000,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer

In [10]:
df.groupby('product_name')

In [11]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [12]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [13]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [14]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merge.head(15)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,11.114836,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,1,2398795,1,prior,2,3,7,15.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,2,473747,1,prior,3,3,12,21.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,3,2254736,1,prior,4,4,7,29.000000,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,4,431534,1,prior,5,4,15,28.000000,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
5,5,3367565,1,prior,6,2,7,19.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
6,6,550135,1,prior,7,1,9,20.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
7,7,3108588,1,prior,8,1,14,14.000000,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
8,8,2295261,1,prior,9,1,16,0.000000,196,4,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer
9,9,2550362,1,prior,10,4,8,30.000000,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
10,144,2968173,15,prior,15,1,9,7.000000,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
11,146,1870022,15,prior,17,2,16,8.000000,196,6,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
12,147,1911383,15,prior,18,2,11,7.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer
13,150,2715276,15,prior,21,1,9,7.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
14,151,487368,15,prior,22,1,10,14.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer

In [16]:
ords_prods_merge.head(100)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,11.114836,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,1,2398795,1,prior,2,3,7,15.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,2,473747,1,prior,3,3,12,21.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,3,2254736,1,prior,4,4,7,29.000000,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,4,431534,1,prior,5,4,15,28.000000,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5895,3226575,360,prior,1,5,12,11.114836,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,3,New customer
96,6137,1469869,377,prior,3,5,17,3.000000,196,9,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3,New customer
97,6259,1927023,387,prior,2,4,10,22.000000,196,3,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,8,New customer
98,6740,858092,420,prior,4,1,19,30.000000,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer
99,6741,119314,420,prior,5,3,19,16.000000,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,22,Regular customer

In [17]:
ords_prods_merge.head(100)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest days,busiest_period_of_day,max_order,loyalty_flag
0,0,2539329,1,prior,1,2,8,11.114836,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer
1,1,2398795,1,prior,2,3,7,15.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer
2,2,473747,1,prior,3,3,12,21.000000,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,3,2254736,1,prior,4,4,7,29.000000,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer
4,4,431534,1,prior,5,4,15,28.000000,196,1,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5895,3226575,360,prior,1,5,12,11.114836,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,3,New customer
96,6137,1469869,377,prior,3,5,17,3.000000,196,9,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3,New customer
97,6259,1927023,387,prior,2,4,10,22.000000,196,3,...,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,8,New customer
98,6740,858092,420,prior,4,1,19,30.000000,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer
99,6741,119314,420,prior,5,3,19,16.000000,196,2,...,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,22,Regular customer

In [18]:
pd.options.display.max_rows = None

In [19]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [20]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [ ]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [ ]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

In [ ]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

In [ ]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data /Prepared Data/ords_prods_merge.pkl'))